{% extends 'core/base.html' %}


{% block content %}

<h1>Sales</h1>

<form method="get" action="">
    <input type="text" name="query" placeholder="Search...">
    <button type="submit">Search</button>
</form>

<a href="{% url 'product:sale_create' %}"><button>CREATE SALE</button></a>

<table class="tablaPrueba">
    <thead>
        <tr>
            <th>Seller</th>
            <th>Product</th>
            <th>Amount</th>
            <th>Total price</th>
            <th>Sale date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for sale in object_list %}
        <tr>
            <td> {{ sale.seller.user.username }}</td>
            <td> {{ sale.product.name }}</td>
            <td> {{ sale.amount }}</td>
            <td> {{ sale.total_price }}</td>
            <td> {{ sale.sell_date|date:'d/m/Y H:i' }}</td>
            <td>
                <!-- NO RECOMENDADO USAR EL PK EN EL FRONT - SOLUCIONAR  -->
                <a href="{% url 'product:sale_detail' sale.id %}"><button>DETAIL</button></a>
                <a href="{% url 'product:sale_update' sale.id %}"><button>EDIT</button></a>
                {% comment  %}
                <a href="{% url 'product:sale_delete' sale.id %}"><button>DELETE</button></a>
                {% endcomment %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>No data available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'product:index' %}"><button>BACK</button></a>
{% endblock content %}