body {
  font-family: 'Lato', sans-serif !important;
  font-weight: 400; 
  color: #4d4d4f!important;
}

.container {
  margin-top: 20px;
  max-width: 1200px;
}

section {
  min-height: 63vh;
  padding-bottom: 25px;
}

.logo {
  display: block;
  width: 228px;
  height: 60px;
  font-size: 0;
  background-image: url(../img/logo.svg);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  padding-top: 8px;
}
.barraseparadora{
  font-size: 40px;
  margin-top:-15px;
  color:#9D9D9C;
  font-weight: 300;
  display: block;
}

.espacios{
  padding-left: 15px;
  display: block;
}
.h2nuevo{
  display: block;
}
.h2viejo{
  display:none
}
header h2 {
  max-width: 720px;
  font-size: 50px;
  color: #007FA3;
  font-family: Lato, sans-serif !important;
  font-weight: 400;
  padding-top: 6px;
  margin-top:-5px;
}
header .redes {
  font-size: 0;
  display: flex;
  align-items: center;
}
header .redes a {
  font-size: 0;
  display: block;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  transition: transform 0.2s ease;
  width: 25px;
  height: 25px;
}
header .redes li {
  margin: 0 3px;
}
header .redes .hcorreo {
  background-image: url(../img/iconos/header/mail.svg);
}
header .redes .hinstagram {
  background-image: url(../img/iconos/header/instagram.svg);
}
header .redes .hfacebook {
  background-image: url(../img/iconos/header/facebook.svg);
}
header .redes .htwitter {
  background-image: url(../img/iconos/header/twitter.svg);
}
header .redes .hyoutube {
  background-image: url(../img/iconos/header/youtube.svg);
}
header .redes a:hover {
  transform: scale(1.2);
}

.navbar {
  margin-top: 20px;
  padding: 0 20% 0 20%;
}

.barra-titulo {
  padding: 10px 0;
  background-color: #f3f6f5;
}
.barra-titulo .container h2 {
  font-size: 35px;
  color: #007FA3;
  font-weight: 500;
}
/*generales*/
#personalTable_wrapper {
  font-family: 'Lato';
}
table.dataTable.no-footer { 
  padding-top: 20px; 
}


/*boton buscar*/
.btn-envio {
  text-align: center;
  font-weight: 700;
  color: #fff;
  background-color: #007FA3;
  border-radius: 10px;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 8px 35px;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.btn-envio:hover {
  text-align: center;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #007FA3;
  background-color: rgba(69, 109, 128, 0.1);
  border-radius: 10px;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;  
  user-select: none;
  padding: 8px 35px;
  margin-bottom: 30px;
}
/*boton acción seleccionar*/
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #007FA3;
  --bs-btn-border-color: #007FA3;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #007FA3;
  --bs-btn-hover-border-color: #007FA3;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #007FA3;
  --bs-btn-active-border-color: #007FA3;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #007FA3;
  --bs-btn-disabled-border-color: #007FA3;
}

/*_agentes*/
h3 {
  font-size: 20px;  
  font-weight: 500;
  padding-top: 25px;
} 

/*armar formulario*/
.caja {
  margin: 15px 0;
  padding: 20px 0;
  border-radius: 5px;
  border-color: #007FA3; 
  font-size: 1.2rem;
  
}

/*generar_formulario preguntas*/
.activated {
  background-color: #007FA3 !important;
}
.preg{
  padding:8px 10px 8px 10px;
  margin:15px 0px 15px 0px;
  font-size: 1.2rem;
}
.btnscalificiones{
  font-size: 1.2rem;
}

#resultado-calificacion {
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  padding: 20px;
  margin-right: 25px;
  margin-bottom: 238px;
  border-top: 1px solid #ddd;
  border-radius: 25px;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
  z-index: 1000;
}

/*footer*/
footer.footer-iosfa{
  background-color:#3C3C3B;
}
.iosfa-logo-footer{
  max-width:250px
}
footer.footer-iosfa p{
  color:#d3d3d3;
  font-size:13px;
  letter-spacing:1px
}.rrss{
  width:25px;
  height:25px;
  padding:5px;
  text-decoration:none
}
footer.footer-iosfa p img{
  max-width:24px
  ;max-height:24px
}

.defensa {
  font-size: 0;
  margin: 0 auto;
  display: block;
  width: 228px;
  height: 78px;
  background-image: url(../img/logo-defensa-2020.svg);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}


@media (max-width: 992px) {
  .menu-principal {
    background-color: white;
  }
  .nav-link {
    color: #4d4d4f;
    text-align: center;
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid #007FA3;
  }
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show {
    color: #4d4d4f;
    text-align: center;
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid #007FA3;
  }
  .navbar-toggler-icon {
    display: block;
    position: absolute;
    right: 10px;
    top: 40px;
    width: 20px;
    height: 14px;
    background-image: url(../img/iconos/header/desplegar-menu.svg);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
  }
  .mail-tel {
    display: none;
  }
}
@media (max-width: 768px) {
  .logoiosfa {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #aaa;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .barraseparadora{display: none;}
  .espacios{display: none;}
  .h2nuevo{display: none;}
  .h2viejo{display: block;}
  
  /* .header-provedores {
    text-align: center;
  } */
  .footer-logo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .sitios {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }


  .d-md-block {
    display: block !important;
}
}

/* Estilos para el toast de confirmación */
#toast {
  visibility: hidden;
  max-width: 50%;
  margin: auto;
  background-color: #198754;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px;
  box-shadow: 0px 0px 10px 0px #000;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
    animation: fadein 0.5s, fadeout 0.5s 1.5s;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* Estilos para el container de la home */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo para el login-card de la home */
.login-card {
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 800px;
}

/* Estilo para el type=radio */

.form-check-input[type="radio"] {
  transform: scale(1.2);
  border: 1px solid #000000;
  cursor: pointer;
}


/* --------------------------- ESTILOS FACUNDO --------------------------- */

/* .mainEditar,.mainCrear{
  height: 67.8vh; MANTENERLO COMENTADO HASTA TENER FIJADAS LAS POSICIONES EN EL RESPONSIVE
} */


.main404{
  .error404{
    padding-top: 50px;
    font-size: 4.6rem;
  }
  
  .parrafoError404{
    padding-top: 25px;
    font-size: 2rem;
  }

  a{
    margin-top: 50px;
  }
}


/* view responsive crear/editar y ERROR 404*/
@media screen and (max-width: 1368px) {
  .tituloPerfil{
    font-size: 3.5rem;
  }

  label{
    font-size: 2.6rem;
  }
 
  .inputCorreo,
  .inputNombreCompleto,
  .selectDependencia,
  .inputTipoDependencia,
  .inputProvincia{
    font-size: 1.9rem;
  }

  .btn{
    font-size: 2.15rem !important;
  }

  .row{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
  }

  p{
    font-size: larger !important;
  }

  .md-logo{
    width: 310px !important;
    height: 310px !important;
  }

  .main404{
    /* height: 74.82vh; */
    .error404{
      padding-top: 0 !important;
      font-size: 4.8rem;
    }
    
    .parrafoError404{
      padding-top: 25px;
      font-size: 4.2rem !important;
    }

    .btn{
      margin-top: 25px;
      font-size: 3rem !important;
    }

  }


}


/* view responsive crear/editar y ERROR 404 */
@media screen and (max-width: 1180px) {
  
  .tituloPerfil{
    font-size: 3rem;
  }

  label{
    font-size: 2.3rem;
  }
 
  .inputCorreo,
  .inputNombreCompleto,
  .selectDependencia,
  .inputTipoDependencia,
  .inputProvincia{
    font-size: 1.8rem;
  }

  .btn{
    font-size: 1.6rem !important;
  }

  .row{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
  }
  
  p{
    font-size: larger !important;
  }

  .md-logo{
    width: 250px !important;
    height: 250px !important;
  }

  .main404{
    /* height: 74.82vh; */
    .error404{
      padding-top: 0 !important;
      font-size: 4.6rem;
    }
    
    .parrafoError404{
      padding-top: 25px;
      font-size: 4rem !important;
    }

    .btn{
      margin-top: 25px;
      font-size: 2.8rem !important;
    }

  }

}


/* view responsive crear/editar y ERROR 404*/
@media screen and (max-width: 1024px) {

  .h2nuevo{
    font-size: 3.5rem;
  }

  .tituloPerfil{
    font-size: 3.1rem;
  }

  label{
    font-size: 2.2rem;
  }
 
  .inputCorreo,
  .inputNombreCompleto,
  .selectDependencia,
  .inputTipoDependencia,
  .inputProvincia{
    font-size: 1.8rem;
  }

  .btn{
    font-size: 1.6rem !important;
  }

  .row{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
  }
  
  p{
    font-size: larger !important;
  }

  .md-logo{
    width: 250px !important;
    height: 250px !important;
  }


  .main404{
    /* height: 74.82vh; */
    .error404{
      font-size: 4.8rem;
    }
    
    .parrafoError404{
      font-size: 3.5rem !important; 
    }

    .btn{
      margin-top: 50px;
      font-size: 2.6rem;
    }

  }

}

/* view responsive crear/editar y ERROR 404*/
@media screen and (max-width: 820px) {

  .tituloPerfil{
    font-size: 2.9rem;
  }

  label{
    font-size: 2rem;
  }
 
  .inputCorreo,
  .inputNombreCompleto,
  .selectDependencia,
  .inputTipoDependencia,
  .inputProvincia{
    font-size: 1.6rem;
  }

  .btn{
    font-size: 1.4rem !important;
  }

  .row{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
  }
  
  p{
    font-size: larger !important;
  }

  .main404{
    /* height: 74.82vh; */
    .error404{
      padding-top: 0 !important;
      font-size: 4.3rem;
    }
    
    .parrafoError404{
      padding-top: 25px;
      font-size: 2.9rem !important;
    }

    .btn{
      margin-top: 25px;
      font-size: 2.2rem !important;
    }

  }

}

/* view responsive crear/editar y ERROR 404 */
@media screen and (max-width: 768px) {

    .subContainerHeader{
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
    }


  .tituloPerfil{
    font-size: 2.5rem;
  }

  label{
    font-size: 1.6rem; 
  }
 
  .inputCorreo,
  .inputNombreCompleto,
  .selectDependencia,
  .inputTipoDependencia,
  .inputProvincia{
    font-size: 1.4rem;
  }

  .btn{
    font-size: 1.2rem !important;
  }


  .main404{
    /* height: 74.82vh; */
    .error404{
      padding-top: 0 !important;
      font-size: 4.1rem;
    }
    
    .parrafoError404{
      padding-top: 25px;
      font-size: 2.7rem !important;
    }

    .btn{
      margin-top: 25px;
      font-size: 2rem !important;
    }

  }
}

/* view responsive crear/editar*/
@media screen and (max-width: 540px){
  .tituloPerfil{
    font-size: 2.2rem !important;
  }

  label{
    font-size: 1.4rem !important;
  }
 
  .inputCorreo,
  .inputNombreCompleto,
  .selectDependencia,
  .inputTipoDependencia,
  .inputProvincia{
    font-size: 1.2rem;
  }

  .btn{
    font-size: 1rem !important;
  }

  .row{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
  }
  
  p{
    font-size: larger !important;
  }

  .iosfa-logo-footer{
    width: 150px !important;
    height: 150px !important;
  }

  .md-logo{
    width: 180px !important;
    height: 180px !important;
  }

}

/* view responsive ERROR 404 */
@media screen and (max-width: 430px) {
  .main404{
    /* height: 74.82vh; */
    .error404{
      padding-top: 0 !important;
      font-size: 3.6rem;
    }
    
    .parrafoError404{
      padding-top: 25px;
      font-size: 2.3rem !important;
    }

    .btn{
      margin-top: 25px;
      font-size: 1.5rem !important;
    }

  }
}

/* view responsive crear/editar y ERROR 404 */
@media screen and (max-width: 375px) {

  .tituloPerfil{
    font-size: 1.9rem !important;
  }

  label{
    font-size: 1.2rem !important;
  }
 
  .inputCorreo,
  .inputNombreCompleto,
  .selectDependencia,
  .inputTipoDependencia,
  .inputProvincia{
    font-size: 1rem;
  }


  .btn{
    font-size: 0.8rem !important;
  }


  .main404{
    /* height: 74.82vh; */
    .error404{
      padding-top: 0 !important;
      font-size: 3rem;
    }
    
    .parrafoError404{
      font-size: 1.5rem;
    }

    .btn{
      font-size: 1.2rem !important;
    }

  }
}
