@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

header{
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (max-width: 1000px) { /*Provisional*/
    header{
        ul{
            display: flex;
            flex-direction: column;
        }
    }
}


.productos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(121, 121, 121);
    flex-wrap: wrap;
    row-gap: 40px;
}


.producto1{
    width: 150px;
    height: 150px;
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.producto2{
    width: 150px;
    height: 150px;
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}   

.producto3{
    width: 150px;
    height: 150px;
    background-color: rgb(133, 39, 5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contadorCarrito{
    font-size: 5rem;
}

#botonAgregarProducto1,#botonAgregarProducto2,#botonAgregarProducto3{
    width: 50%;
}

.tablaPrueba,thead,th,tbody,tr,td{
    border: 1px solid;
}