{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    <script defer src="{% static 'core/js/script.js' %}"></script>
    <title>ABOUT</title>
</head>

<body>
    <header>
        <ul>
            <li><a href="{% url 'core:index' %}">HOME</a></li>
            <li><a href="">PRODUCTS</a></li>
            <li><a href="">BRANCHES</a></li>
            <li><a href="core:about">ABOUT</a></li>
            <li><a href="">CONTACT</a></li>
            <li><a href="{% url 'core:register' %}">REGISTER</a></li>
        </ul>
    </header>
    <main>
        <h1>ABOUT</h1>
        <img src="{% static 'core/img/foto-version-comic.png' %}" alt="" style="width: 180px;">
    </main>
    <footer>Made in {{ year }}</footer>
</body>

</html>