<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% load static %}
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Small Business - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'core/assets/favicon.ico' %}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'core/css/stylesBS.css' %}" rel="stylesheet" />
    <script defer src="{% static 'core/js/scripts.js' %}"></script>
</head>

<body>
    {% include 'core/main_templates/components/header.html' %}
    <!-- Page Content-->
    <main>
        {% block content %}

        {% endblock content %}
    </main>
    <!-- Footer-->
    {% include 'core/main_templates/components/footer.html' %}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
</body>

</html>