<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    <script defer src="{% static 'core/js/script.js' %}"></script>
    <title>{% block title %}Titulo archivo BASE{% endblock title %}</title>
</head>

<body>
    <header>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'core:index' %}"><button>HOME</button></a></li>
            <li><a href="{% url 'core:products' %}"><button>PRODUCTS</button></a></li>
            <li><a href="{% url 'core:product_list' %}"><button>PRODUCTS LIST</button></a></li>
            <li><a href=""><button>BRANCHES</button></a></li>
            <li><a href="{% url 'core:about' %}"><button>ABOUT</button></a></li>
            <li><a href=""><button>CONTACT</button></a></li>                
            <form action="{% url 'core:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">LOG OUT</button>
            </form>
            <li><a href="{% url 'core:logout' %}"></a></li>
            <li><a href="{% url 'core:users_list' %}"><button>USERS</button></a></li>
            <li><a href="{% url 'core:profile' %}"><button>PROFILE</button></a></li>
            {% else %}
            <li><a href="{% url 'core:login' %}"><button>LOG IN</button></a></li>
            <li><a href="{% url 'core:register_user' %}"><button>SIGN UP</button></a></li>
            <li><a href="{% url 'core:about' %}"><button>ABOUT</button></a></li>
            <!-- <li><a href="{% url 'core:register' %}"><button>REGISTER</button></a></li> -->
            {% endif %}
        </ul>
    </header>

    <main>
        {% block content %}
        <!-- Aquí se inyecta el contenido de los otros templates -->
        {% endblock content %}
    </main>
    <footer>Made in {{ year }}</footer>
</body>

</html>