<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    <script defer src="{% static 'core/js/script.js' %}"></script>
    <title>{% block title %}Titulo archivo BASE{% endblock title %}</title>
</head>

<body>
    <header>
        <ul>
            <li><a href="{% url 'core:index' %}"><button>HOME</button></a></li>
            <li><a href="{% url 'core:login' %}"><button>LOG IN</button></a></li>
            <li><a href="{% url 'core:register' %}"><button>CREATE NEW ACCOUNT</button></a></li>
            <li><a href="{% url 'core:products' %}"><button>PRODUCTS JS TEST</button></a></li>
            <li><a href="{% url 'product:index' %}"><button>GO TO PRODUCTS</button></a></li>
            <li><a href="{% url 'core:about' %}"><button>ABOUT</button></a></li>
        </ul>
    </header>
    <main>
        {% block content %}
        <!-- Aquí se inyecta el contenido de los otros templates -->
        {% endblock content %}
    </main>
    <footer>Made in {{ year }}</footer>
</body>

</html>