<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django project</title>
</head>
<body>
    <h1>Django</h1>
    <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora adipisci porro debitis voluptatum ea velit facilis accusamus vel nulla? Et veniam earum sapiente consectetur quia ullam. Saepe omnis eius ut.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora adipisci porro debitis voluptatum ea velit facilis accusamus vel nulla? Et veniam earum sapiente consectetur quia ullam. Saepe omnis eius ut.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora adipisci porro debitis voluptatum ea velit facilis accusamus vel nulla? Et veniam earum sapiente consectetur quia ullam. Saepe omnis eius ut.</li>
    </ul>
<footer>Made in {{ year }}</footer>
</body>
</html>