{% extends 'core/base.html' %}

{% block content %}
<h1>USERS LIST</h1>

<table border="1">
    <thead>
        <tr>
            <th>USER</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        {% for user in object_list %}
        <tr>
            <td> {{ user }}</td>
            <td>
                <!-- NO RECOMENDADO USAR EL PK EN EL FRONT - SOLUCIONAR  -->
                <a href="{% url 'core:user_detail' user.id %}">
                    <button>VIEW</button>
                </a>
                <a href="{% url 'core:update_user' user.id %}">
                    <button>EDIT</button>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>No data available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}