<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django project</title>
</head>
<body>
        <header>
        <ul>
            <li><a href="">INICIO</a></li>
            <li><a href="">PRODUCTOS</a></li>
            <li><a href="">SUCURSALES</a></li>
            <li><a href="">ACERCA DE</a></li>
            <li><a href="">CONTACTO</a></li>
            <li>
                <a href="/">VOLVER</a>
            </li>
        </ul>
    </header>
    <main>
        <h1> Django </h1>
        <h2>Datos del usuario</h2>
        <ul>
            <li>Nombre: {{ nombre }}</li>
            <li>Apellido: {{ apellido }}</li>
            <li>Fecha de nacimiento: {{ fecha_nacimiento }}</li>
            <li>Fecha actual: {{ fecha_actual }}</li>
            <li>Edad: {{ edad }} años</li>
        </ul>
    </main>
<footer>Made in {{ year }}</footer>
</body>
</html>