{% extends 'core/base.html' %}

{% block content %}
    
    <section class="productos">
        <!-- <div class="producto1">
            <span>PRODUCTO 1</span>
            <span class="valorProducto1">500</span>
            <button id="botonAgregarProducto1">Agregar producto</button>
        </div>
        <div class="producto2">
            <span>PRODUCTO 2</span>
            <span class="valorProducto2">1000</span>
            <button id="botonAgregarProducto2">Agregar producto</button>
        </div>
        <div class="producto3">
            <span>PRODUCTO 3</span>
            <span class="valorProducto3">1500</span>
            <button id="botonAgregarProducto3">Agregar producto</button>
        </div> -->        
    </section>
    <div class="contadorCarrito"></div>
    <div class="guardarYeliminar">
        <button class="botonGuardar">GUARDAR VALOR</button>
        <button class="botonEliminar">ELIMINAR VALOR</button>
    </div>


{% endblock content %}