{% extends 'core/base.html' %}

{% block content %}

    <h1>PRODUCT DETAIL</h1>
    <ul>
        <li><strong>Category:</strong> {{ object.category }}</li>
        <li><strong>Name:</strong> {{ object.name }}</li>
        <li><strong>Description:</strong>
        {% if object.description %}
            {{ object.description }}
        {% else %}
            -
        {% endif %}
        </li>
        <li><strong>Stock:</strong> {{ object.stock }}</li>
        <li><strong>Price per unit:</strong> ${{ object.price }}</li>
    </ul>
    <a href="{% url 'product:product_list' %}"><button>Go back</button></a>
{% endblock content %}
