{% extends 'core/base.html' %}

{% block content %}
<h1>PRODUCT</h1>
<form action="" method="get">
    <input type="text" name="search" id="" placeholder="Search product...">
    <button type="submit">Search</button>
</form>
{% if user.is_staff %}    
<a href="{% url 'product:product_create' %}">
    <button>Create product</button>
</a>
{% endif %}
<table class="tablaPrueba">
    <thead>
        <tr>
            <th>CATEGORY</th>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>PRICE</th>
            <th>STOCK</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        {% for product in object_list %}
        <tr>
            <td> {{ product.category }}</td>
            <td> {{ product.name }}</td>
            <td> {{ product.description }}</td>
            <td> {{ product.price }}</td>
            <td> {{ product.stock }}</td>
            <!-- NO RECOMENDADO USAR EL PK EN EL FRONT - SOLUCIONAR  -->
            <td>
                <a href="{% url 'product:product_detail' product.id %}">
                    <button>DETAIL</button></a>
                {% if user.is_staff %}
                <a href="{% url 'product:product_update' product.id %}">
                    <button>EDIT</button></a>
                <a href="{% url 'product:product_delete' product.id %}">
                    <button>DELETE</button></a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>No data available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'product:index' %}"><button>Go back</button></a>
{% endblock content %}