{% extends 'core/base.html' %}


{% block content %}

<h1>Sellers</h1>

<form method="get" action="">
    <input type="text" name="query" placeholder="Search...">
    <button type="submit">Search</button>
</form>

{% if request.user.is_staff %} 
<a href="{% url 'product:seller_create' %}"><button>CREATE SELLER</button></a>
{% endif %}

<table class="testTable">
    <thead>
        <tr>
            <th>User</th>
            <th>Cellphone</th>
            <th>Avatar</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for seller in object_list %}
        <tr>
            <td> {{ seller.user.username }}</td>
            <td> {{ seller.cellphone }}</td>
            <td>
                {% if seller.user_img  %}
                    <img src="{{ seller.user_img.url }}" alt="Avatar" style="max-width: 100px;">
                {% endif %}
            </td>
            
            <td>
                <!-- NO RECOMENDADO USAR EL PK EN EL FRONT - SOLUCIONAR  -->
                <a href="{% url 'product:seller_detail' seller.id %}"><button>DETAIL</button></a>
                {% if user.is_staff %}                    
                <a href="{% url 'product:seller_update' seller.id %}"><button>EDIT</button></a>
                <a href="{% url 'product:seller_delete' seller.id %}"><button>DELETE</button></a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>No data available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'product:index' %}"><button>Go back</button></a>
{% endblock content %}