{% extends 'core/base.html' %}

{% block content %}

    <h1>SELLER DETAIL</h1>
    <ul>
        <li><strong>User:</strong> {{ object.user.username }}</li>
        <li><strong>Cellphone: {{ object.cellphone}}</strong>
        <li><strong>Avatar:</strong>
        {% if object.user_img %}
            <img src="{{ object.user_img.url }}" alt="Avatar" style="max-width: 200px;">
        {% else %}
            Without avatar
        {% endif %}
        </li>
    </ul>
    <a href="{% url 'product:seller_list' %}"><button>Go back</button></a>
{% endblock content %}